.my-select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #c6a00c;
  color: #121212;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-left: 10px;
  max-width: 500px;
}

.my-select option {
  background-color: #c6a00c;
  color: #121212;
}

.my-select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
